<template>
  <v-app id="app-root">
    <div>
      <Connexion />
    </div>
  </v-app>
</template>
<script>
import Connexion from './components/Connexion';
export default {
  name: 'App',
  components: {
    Connexion,
  },
};
</script>
<style scoped>
#app-root {
  background-color: #f2f2f2;
}
#connexion-container {
  position: relative;
  top: 25vh;
}
</style>
