<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content>
			<Header/>
      <v-row>
				<v-col cols="4">
					<StateList />
				</v-col>
				<v-col cols="4">
					<Form />
				</v-col>
				<v-col cols="4">
					<Control />
				</v-col>
      </v-row>
    </v-content>
  </v-app>
</template>

<script>
import Header from './components/Header'
import StateList from './components/StateList'
import Form from './components/Form'
import Control from './components/Control'
export default {
  name: 'App',
  components: {
		Header,
		StateList,
		Form,
		Control
  },
  data: () => ({
    //
  })
}
</script>
