<template>
    <div style="background-color: #ffd4f9;">
        <v-btn @click="toggleErrorState" color="primary">Toggle Error State</v-btn>
    </div>
</template>
<script>
export default {
    name: 'Control',
    methods: {
        toggleErrorState() {
            this.$store.commit('updateErrorState')
        }
    }
}
</script>
