<template>
    <div style="background-color: #d4daff">
        <v-form>
            <v-container>
                <v-row>
                    <v-text-field 
                        v-model="name"
                        label="Name"
                        outlined
                        :error="errorState" />
                </v-row>
                <v-row>
                    <v-text-field 
                        v-model="password"
                        type="password"
                        label="Password"
                        outlined
                        :error="errorState" />
                </v-row>
                <v-row>
                    <v-checkbox v-model="checkboxOne" label="Checkbox One" :error="errorState" />
                    <v-checkbox v-model="checkboxTwo" label="Checkbox Two" dense :error="errorState" />
                    <v-checkbox v-model="checkboxThree" label="Checkbox Three" hint="Im checkbox 3" :error="errorState" />
                    <v-checkbox v-model="checkboxFour" label="Checkbox Four" hide-details :error="errorState" />
                </v-row>
                <v-row>
                    <v-date-picker v-model="date" style="position: relative; left: 10em;"></v-date-picker>
                </v-row>
            </v-container>
        </v-form>
    </div>
</template>
<script>
export default {
    name: 'Form',
    data: () => ({
        name: '',
        password: '',
        checkboxOne: false,
        checkboxTwo: false,
        checkboxThree: false,
        checkboxFour: false,
        date: new Date().toISOString().substr(0, 10)
    }),
    computed: {
        errorState: function() {
            return this.$store.state.errorState
        }
    },
    watch: {
        name: function(name) {
            this.$store.commit('updateName', name)
        },
        password: function(password) {
            this.$store.commit('updatePassword', password)
        },
        checkboxOne: function(checkbox) {
            this.updateCheckbox(checkbox, 'Checkbox One')
        },
        checkboxTwo: function(checkbox) {
            this.updateCheckbox(checkbox, 'Checkbox Two')
        },
        checkboxThree: function(checkbox) {
            this.updateCheckbox(checkbox, 'Checkbox Three')
        },
        checkboxFour: function(checkbox) {
            this.updateCheckbox(checkbox, 'Checkbox Four')
        },
        date: function(date) {
            this.$store.commit('updateDate', date)
        }
    },
    methods: {
        updateCheckbox(checked, checkbox) {
            if (checked) {
                this.$store.commit('addCheckbox', checkbox)
            } else {
                this.$store.commit('removeCheckbox', checkbox)
            }            
        },
    }
}
</script>
