<template>
  <div style="background-color: #ffc2c2;">
    <v-row>
      <v-col offset="5">
        <h1>Demo form avec VueJS</h1>
        <h3>Librairie de component utilisé: Vuetify</h3>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: 'Header'
}
</script>
