<template>
    <div style="background-color: #daffc9;">
        <v-list>
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>Error state: {{ this.errorState }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>Name: {{ this.name }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>Password: {{ this.password }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>Checkboxes: {{ this.checkboxes.toString() }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>Date: {{ this.date }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </div>
</template>
<script>
export default {
    name: 'StateList',
    computed: {
        errorState: function() {
            return this.$store.state.errorState;
        },
        name: function() {
            return this.$store.state.name;
        },
        password: function() {
            return this.$store.state.password;
        },
        checkboxes: function() {
            return this.$store.state.checkboxes;
        },
        date: function() {
            return this.$store.state.date;
        },
    }
}
</script>