<template>
    <v-container id="connexion-page" fluid>
        <v-row>
            <v-col offset=2> 
                <v-img width=200 height=100 src="../assets/effi.png"></v-img>
            </v-col>
        </v-row>
        <v-form id="connexion-form">
            <v-text-field v-model="email" outlined placeholder="Entrez votre courriel" label="Courriel"></v-text-field>
            <v-text-field
                v-model="password"
                outlined
                persistent-hint
                placeholder="Entrez votre mot de passe"
                label="Mot de passe"
                hint="Mot de passe oublié?">
            </v-text-field>
            <v-row>
                <v-col cols=6>
                    <v-checkbox v-model="isRemembered" label="Se souvenir de moi"></v-checkbox>
                </v-col>
                <v-col cols=6>
                    <v-btn primary @click="connect">Connexion</v-btn>
                </v-col>
            </v-row>
        </v-form>
    </v-container>
</template>
<script>
export default {
    name: 'Connexion',
    data: () => ({
        email: '',
        password: '',
        isRemembered: false,
    }),
    methods: {
        connect() {
            console.log('Email: ' + this.email);
            console.log('Password: ' + this.password);
            console.log('Is remembered: ' + this.isRemembered);
        }
    }
}
</script>
<style scoped>
    #connexion-page{
        max-height: 600px;
        max-width: 400px;
        padding: 10px 30px;
        position: relative;
        top: 20vh;
    }
    #connexion-form{
        padding: 10px 30px;
        background-color: #ffffff;
    }
</style>